<%- include('../partials/header') %>
    <h1 class="text-center">Posts</h1><br>
    <div class="row">
      <% for (let post of posts) { %>
        <div class="col-md-4">
          <ul class="posts-list">
            <li>
              <a href="/posts/<%= post.id %>">
                <h3><%= post.title %></h3>
              </a></li>
          </ul>
          <hr>
        </div>
      <% } %>
    </div>
<%- include('../partials/footer') %>
