<%- include('../partials/header') %>

<div class="col-md-4 col-md-offset-4">
  <h1 class="text-center">New Post</h1><hr><br><br>
  <form action="/posts" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input class="form-control" type="text" id="title" name="title">
    </div>

    <div class="form-group">
      <label for="description">Comment</label>
      <textarea class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
      <input class="btn btn-md btn-primary" type="submit" name="submit" value="Submit"/>
    </div>
  </form>
</div>

<%- include('../partials/footer') %>
